.ttt {
color: rgb(3, 49, 96);
text-align: center;
font-size: 2rem;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ttt-1__child {
    text-align: center;
    color: rgb(3, 49, 96);
font-family: 'Rubik Mono One',sans-serif;
font-weight: 600;

}











